header {
    background-color: #ffe4b5;
    text-align: center;
}

.logoBar {
    background-color: blueviolet;
    display: center;
    align-items: center;
}

.logoImg {
    width: 60px;
}

.navBar {
    background-color: aqua;
    padding: 0px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav1 a{  /* 카테고리 */
    margin-right: 10px;
    text-decoration: none;
    color:black;
}

.nav1 a:hover {
    text-decoration: underline;
}

.myImg {
    width: 30px;
    transform: translateY(2.5px);
}

.cartImg {
    width: 27px;
    margin-right: 10px;
}