header {
    background-color: #651b70;
    text-align: center;
}

.logoBar {
    align-items: center;
    padding: 5px 0;
}

.logoImg {
    width: 55px;
    transform: translateY(1.5px);
}

.navBar {
    max-width: 1200px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; /* 화면 중앙 고정 */
}

.nav1 a{  /* 카테고리 */
    margin-right: 40px;
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 20px;
}

.nav1 a:hover {
    text-decoration: underline;
}

.myImg {
    width: 30px;
    transform: translateY(2.5px);
}

.cartImg {
    width: 27px;
    margin-right: 10px;
}